<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Responsive Online Boot Store Website Design Tutorial</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link href= "/public/css/style.css" rel="stylesheet" type="text/css" />

    <link href= "/public/css/about.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/public/js/about.js"></script>




</head>
<%- include('header'); -%>

<body>

    <section class="team" id= "About-us">
        <div class="container">
         <br>
         <center> <h2>About Us</h2> </center>
         
         <div class="person">
     
    
        <div class="person">
        <div class="person-badge">
        <img class="normal" src="/public/image/sara.png">
        <img class="peculiar" src="/public/image/sara2.png">
        </div>
        <h3>Sara Wardina</h3>
        <strong>Ubook Admin</strong>
        <div class="desc">
        <p style = "color:#CEA10D;"> <i>“The most beautiful thing in the world is, of course, the world itself.” </i></p>
        <p>ID: 2021155875</p>
        </div>
        </div>
     <br><br>
    
            
        <div class="person">
        <div class="person-badge">
        <img class="normal" src="/public/image/bella.png">
        <img class="peculiar" src="/public/image/bella1.PNG">
        </div>
        <h3>Nabila Balqis</h3>
        <strong>Ubook Admin</strong>
        <div class="desc">
        <p style = "color:#CEA10D;"><i> “Better regret for doing something rather than regret for not doing it”</i> </p>
        <p> ID: 2021120137 </p>
        </div>
        </div>
            <br><br>
            
            </div>
    </section>

       
       <section class="footer">

        <div class="credit"> created by <span>Avocatdo</span> Ubook | 2022 </div>
    
       </section>

</body>

</html>

