<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Responsive Online Boot Store Website Design Tutorial</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link href= "/public/css/style.css" rel="stylesheet" type="text/css" />

</head>
<body>
    
  <%- include('header'); -%>

  <section class="arrivals" id="arrivals">

    <% if(buku.length>0) { %>
    <div class="swiper arrivals-slider">
        <% for(var i=0; i<buku.length;i++) { %>
        <div class="swiper-wrapper">
            <a href="#" class="swiper-slide box">
                <div class="image">
                    <img src="/public/image/book-6.png" alt="">
                </div>
                <div class="content">
                    <h3>new arrivals</h3>
                    <div class="price">$15.99 <span>$20.99</span></div>
                    <h3>new arrivals</h3>
                    <h3><%= buku[i].title%></h3>
                    <h3>new arrivalssssssssssssssssssssssssssssssssssssssssssssss</h3>
                    <h3>new arrivals</h3>
                </div>
            </a>
        </div>
        <% } %> 
    </div>
    <% } else { %>
        <h1 class="heading"> <span>No product found</span> </h1>
    <% } %>

</section>