.team .container{
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 50px;
    background-color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    font-size: 18px;
  }
  
  .team .person {
    padding: 70px 0 0 230px;
    min-height: 200px;
    margin: auto;
    position: relative;
  }
  .team .person-badge {
    width: 200px;
    height: 280px;
    border-radius: 0 0 100px 100px;
    overflow: hidden;
    transform: rotate(0deg); /* To force its own layer */
    position: absolute;
    top: 0;
    left: 0;
  }
  .team .container .person-badge:before,
  .team .container .person-badge:after{
    content: "";
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    z-index:-1;
    width: 200px;
    height: 200px;
    background: #DDD;
    background: linear-gradient(to bottom, #EEE 0%,#CCC 100%);
    transition:500ms;
  }
  .team .person-badge:after {
    background: linear-gradient(to top, #F88 0%,#EEE 100%);
    opacity: 0;
  }
  .team .person:nth-child(2) .person-badge:after {
    background: linear-gradient(to top, #5AB 0%,#EEE 100%);  
  }
  .team .person:nth-child(3) .person-badge:after {
    background: linear-gradient(to top, #FC0 0%,#EEE 100%);
  }
  .team .person:nth-child(4) .person-badge:after {
    background: linear-gradient(to top, #FC0 0%,#EEE 100%);
  }
  .team .person-badge:hover:after {
    opacity: 1;
  }
  
  .team .person-badge img {
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 500ms;
  }
  .team .person-badge img.peculiar {
    opacity: 0;
    transform: translateY(80px)
  }
  
  .team .person-badge:hover img.normal {opacity: 0;transform: translateY(80px)}
  .team .person-badge:hover img.peculiar {opacity: 1;transform: translateY(0)}
  
  .team .person h3 {
    margin: 0;
    font-weight: 200;
    font-size: 28px;
  }
  .team .person .desc p{
  font-size: 16px;
    line-height: 2.0;
    margin-bottom: 30px;
  }
  
  .team strong {color: #888;margin:-5px 0 5px 0;display:block;font-size:.8em;}