<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Responsive Online Boot Store Website Design Tutorial</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link href= "/public/css/style.css" rel="stylesheet" type="text/css" />

</head>
  <header class="header">

    <div class="header-1">

        <a href="/" class="logo"> <i class="fas fa-book"></i> bookly </a>

        <form action="/searchbook" class="search-form" method="get">
            <input type="search" name="search" placeholder="search here..." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <div class="icons">
            <div id="search-btn" class="fas fa-search"></div>
        </div>

        <a href="/user/logout" class="btnd">Logout</a>

    </div>

    <div class="header-2">
        <nav class="navbar">
            <a href="/user/homepage">home</a>
            <a href="/user/account">My Account</a>
            <a href="">My Booklist</a>
            <a href="/user/addbook">Add Book</a>
        </nav>
    </div>

</header>